<div = id="Bookings">
  <div class="bg-img">
  <div class="container">
     <div class="topnav">
       <%# <a href="/home">Home</a> %>
       <a href="/bookings">Bookings</a>
       <a href="/band">Band</a>
       <a href="/signup">Sign up</a>
     </div>
   </div>
 </div>  



<em><h1>Bookings</h1></em>


  <% @bookings.each do |booking| %>
    <h4><li> <%=link_to booking.occasion, booking_path(booking) %></li></h4>
  <% end %>
  

 
