  
  <%# <div class= nav bar open page> %>
  <div class="bg-img">
  <div class="container">
     <div class="topnav">
       <%# <a href="/home">Home</a> %>
       <a href="/bookings">Bookings</a>
       <a href="/band">Band</a>
       <a href="/signup">Sign up</a>
     </div>
   </div>
 </div>  


<em><h1>Welcome to booking A band</h1></em>

<%# 
<div class="container-image"> %>
<%# <div id="hero class="hero-image">
<img src="app/assets/config/images/255379.jpg" alt="blurredlights">
</div>  %>


<%# <% <%=video_tag "lights-7901.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"%> 

