



<h1>welcome</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="home-video-wrapper">
<%= video_tag "lights-7901.mp4",autoplay: :autoplay, loop: :loop, mute: :mute,class: "home_video" %>
<h1 class="home"> Welcome to Booking A Band</h1>
</div>