  <div class="bg-img">
  <div class="container">
     <div class="topnav">
       <%# <a href="/home">Home</a> %>
       <a href="/bookings">Bookings</a>
       <a href="/bands">Bands</a>
       <a href="/signup">Sign up</a>
     </div>
   </div>
 </div>  


<em><h1>The Bands</h1><em>


<p><h2>Meet the bands</h2>
Bring a touch of elegance to your, wedding ,event or private party
book with Us Now.




About Us
I'm a paragraph. Click here to add your own text and edit me. 
I’m a great place for you to tell a story and let your users know a little more about you.​
</p> 


<style >
.img
{
    height: 20rem;
    width: 30rem;
}
</style>


  <img class="img"src="https://images.unsplash.com/photo-1570563567687-3fc34035ec01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">







<footer class="footer">
  <h3><p>Copyright &copy; 2020</p><h3>

 
</footer>
          




