<ul>
<div class ="container >

<div class="topnav">
  <a class="active" href="/home">Home</a>
  <br>
  <a href="/bookings">Bookings</a>
  <br>
  <%# <a href="/genre">Genres</a> %>
  <br>
  <a href="/signup">Sign Up</a>
  </ul>
</div>
</div>

<em><h1>The Bands</h1><em>


<p><h2>Meet the bands</h2>

<h2>insert photos here</h2>
</p>
