// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body {
    margin: 100px;
    color:rgb(99, 85, 224);
    background-image: url("255379.jpg") ;
    background-repeat: no-repeat center center fixed;
    background-size: 100%;

  }
 
 
 
 h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: rgb(50, 126, 212);
     font-size:50px;
 }
 
 h1 {
    text-shadow: 2px 2px 5px rgb(172, 13, 13);
  }
 .label text
  background{
      color: rgb(232, 241, 148);

  }
 
  