// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body {
   margin: 100px;
}
body {
    color:rgb(190, 211, 223);
}

h1 {
    font-family: sans-serif;
    color: rgb(33, 94, 175);
    font-size:50px;
}